.header {
  border-bottom: 1px solid #e2e8f0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.navbar__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list-item {
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
}

.navbar__list-item:hover {
  transform: scale(1.1);
}

.navbar__list-item a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: $gray;
}

.navbar__list-item a:hover {
  color: $red;
}

.navbar__brand-name {
  font-weight: 500;
  color: $dark;
}

@media only screen and (max-width: 768px) {
  .navbar__list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: $white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar__list.active {
    left: 0;
  }

  .navbar__list-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block!important;
    cursor: pointer;
  }

  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.hamburger {
  display: none;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $dark;
}
